@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$app-bg: #f1f2f3;
$nav-bg: #2d3d55;

body {
  height: 100vh;
  background: $app-bg;
  margin: 0;
}

.App {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.nav {
  text-align: center;
  padding: 10px;
  background: $nav-bg;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.logo {
  width: 6%;
}