.display-flex {
    display: flex;
}

.txt-align-left {
    text-align: left;
}

.m-left-15 {
    margin-left: 15px;
}

.flex-row {
    @extend .display-flex;
    flex-flow: row wrap;
}

.width-100vw {
    width: 100vw;
}